@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
:root{
    --font-family-primary:'Marck Script', cursive;
}

body{
    margin: 0;
    padding: 0;
    min-width: 100%;
}
#mainc{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    color: aqua;
   
  
}


#bord{
    border: 5px greenyellow dashed;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}
#first{
    background-color: #1F1627;
    height: 600px;
    width: 100%;
    margin: 0px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    display: flex;
    justify-content:center;
    text-align: center;
    flex-wrap: wrap;
    transform:skewY(-5deg);
    transform-origin: top right;
}
#first11{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #1F1627;
    height: 600px;
    width: 80%;
    position: absolute;
    z-index: -111;

}
#st1{
    font-size: 2em;
    letter-spacing: 2px;
    padding: 0px;
    margin: 0px;
}

#sec1{
    height: 600px;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction:column;
    padding: 10px;
    letter-spacing: 1px;
    font-size: larger;
    transform:skewY(5deg);
    border-left: 1px white dotted;
    border-top: 1px white dotted;
    border-right: 1px white dotted;

}
#longs{
    font-size: 2em;
    letter-spacing: 4px;
    margin-top: 5px;
}
span{
    font-family: var(--font-family-primary);
    font-size: 6em;
}
.op{
    font-size: larger;
}







#second{
    background-image:url(/photo/5a.jpg);
    height: 600px;
    width: 100%;
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    transform:skewY(-5deg);
    transform-origin: top right;  
}
#imgsd{
    background-color:#F0E7DE;
    opacity: calc(0.9);
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#txts{
    height: 600px;
    width: 90%;
    margin-top: 80px;
    letter-spacing: 1px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: larger; 
    transform:skewY(5deg);
    transform-origin: top right;
    border-left: 1px rgb(163, 39, 39) dotted;
    border-right: 1px rgb(182, 26, 26) dotted;
}
#second1{
    background-image:url(/photo/fam.jpg);
    height: 600px;
    width: 100%;
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    transform:skewY(-5deg);
    transform-origin: top right;  
    
}
#imgsd1{
    background-color: #1F1627;
    opacity: calc(0.9);
    height: 600px;
    width: 100%;
}

#txts1{
    height: 600px;
    width: 90%;
    margin-top: 80px;
    letter-spacing: 1px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: larger; 
    transform:skewY(5deg);
    transform-origin: top right;
    border-left: 1px rgb(216, 29, 29) dotted;
    border-right: 1px rgb(141, 32, 32) dotted;
}

#second2{
    background-image:url(/photo/im.jpg);
    height: 600px;
    width: 100%;
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    transform:skewY(-5deg);
    transform-origin: top right;  
}
#imgsd2{
    background-color: rgb(58, 36, 40);
    opacity: calc(0.9);
    height: 600px;
    width: 100%;
}